
<form class="mb-30" asp-controller="Discount" asp-action="ConfirmDiscountCoupon" method="post">
    <div class="input-group">
        <input type="text" name="code" value="@ViewBag.code" class="form-control border-0 p-4" placeholder="Coupon Code">
        <div class="input-group-append">
            <button class="btn btn-primary">Kuponu Uygula</button>
        </div>
    </div>
</form>
<div class="bg-light p-30 mb-5">
    <div class="border-bottom pb-2">
        <div class="d-flex justify-content-between mb-3">
            <h6>Toplam Ürün Fıyatı</h6>
            <h6>@ViewBag.total</h6>
        </div>
        <div class="d-flex justify-content-between">
            <h6 class="font-weight-medium">KDV</h6>
            <h6 class="font-weight-medium">@ViewBag.totalPrice ₺</h6>
        </div>
        <div class="d-flex justify-content-between">
            <h6 class="font-weight-medium">İndirim Oranı</h6>
            <h6 class="font-weight-medium">%@ViewBag.discountRate</h6>
        </div>
        <div class="d-flex justify-content-between">
            <h6 class="font-weight-medium">İndirimsiz Fiyat</h6>
            <h6 class="font-weight-medium">@ViewBag.totalPriceWithTax</h6>
        </div>
    </div>
    <div class="pt-2">
        <div class="d-flex justify-content-between mt-2">
            <h5>Total</h5>
            @if (ViewBag.totalNewPriceWithDiscount > 0)
            {
                <h5>@ViewBag.totalNewPriceWithDiscount</h5>
            }
            else
            {
                <h6 class="font-weight-medium">@ViewBag.totalPriceWithTax</h6>
            }
        </div>

        <button class="btn btn-block btn-primary font-weight-bold my-3 py-3">Proceed To Checkout</button>
    </div>
</div>
